/.idea
/coverage
/.github
/lib
/scripts
/sample
/example
.eslintrc.yml
.gitignore
.npmignore
.prettierrc
docker-compose.yml
jest.config.ts
jest.setup.ts
*.jpeg
*.jpg
tsconfig.json
sonar-project.properties
