/.idea
/coverage
/.github
/lib
/scripts
/sample
/example
.eslintrc.yml
.gitignore
.npmignore
.prettierrc
docker-compose.yml
jest.config.js
jest.setup.ts
sample.jpeg
tsconfig.json
sonar-project.properties
